<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Slideshow</title>
</head>
    <body>
        <link rel="stylesheet" href="js/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <!-- <script src="js/node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
        <script src="js/node_modules/vue/dist/vue.js"></script>

        <div class="jumbotron">
            <h2>Portret Control Center</h2>
        </div>

        <div id="vm-root" class="container-fluid">
            <div class="row">
                <div id="collections" class="col-12 col-md-4">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-info" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">California <span class="badge badge-info">12</span></a>
                        <a href="#" class="list-group-item list-group-item-action">Croatia <span class="badge badge-info">5</span></a>
                        <a href="#" class="list-group-item list-group-item-action">Teneriffa <span class="badge badge-info">3</span></a>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div id="show-params" class="card">
                        <div class="card-header">Slideshow Settings</div>
                        <div class="card-body form-group">
                            <div class="row">
                                <div class="col-5">
                                    <label for="autoForward">Auto forward?</label>
                                </div>
                                <div class="col-7">
                                    <input type="checkbox" id="autoForward" class="form-check-inline" v-model="autoForward">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <label v-show="autoForward" for="showDuration">How long a picture shall be shown:</label>
                                </div>
                                <div class="col-7">
                                    <input v-show="autoForward" type="number" id="showDuration" class="form-control" v-model="showDuration" placeholder="5 s">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-5">
                                    <label for="animation">Please choose an animation:</label>
                                </div>
                                <div class="col-7">
                                    <select id="animation" class="form-control" v-model="animation">
                                        <option value="NONE">None</option>
                                        <option value="RANDOM">Random</option>
                                        <option value="ZOOM_IN">Zoom in</option>
                                        <option value="SLIDE_RIGHT">Slide to right</option>
                                        <option value="SLIDE_TOP">Slide from top</option>
                                        <option value="MEMORY">Chess</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-5">
                                    <label v-show="animation!='NONE'" for="animDuration">How long an animation shall take:</label>
                                </div>
                                <div class="col-7">
                                    <input v-show="animation!='NONE'" type="number" id="animDuration" class="form-control" v-model="animDuration" placeholder="2 s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 justify-content-end">
                <div class="col-md-auto">
                    <button type="button" id="startShow" class="btn btn-primary">Start Show</button>
                </div>
            </div>
        </div>

    </body>
    <script src="js/portret-ui.js"></script>
</html>
